[submodule "cmake/cmake-modules"]
	path = cmake/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "thirdparty/samp-plugin-sdk"]
	path = thirdparty/samp-plugin-sdk
	url = https://github.com/Zeex/samp-plugin-sdk
[submodule "thirdparty/host-coreclr"]
	path = thirdparty/host-coreclr
	url = https://github.com/Micky5991/host-coreclr
[submodule "thirdparty/subhook"]
	path = thirdparty/subhook
	url = https://github.com/Zeex/subhook
[submodule "thirdparty/sampgdk"]
	path = thirdparty/sampgdk
	url = https://github.com/Zeex/sampgdk
[submodule "thirdparty/configreader"]
	path = thirdparty/configreader
	url = https://github.com/Zeex/configreader
