[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_visual_guides = 80
max_line_length = 80
ij_continuation_indent_size = 4

[*.cs]
csharp_space_after_cast = false

[{*.js,*.jsx}]
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_type_braces = true
ij_javascript_indent_case_from_switch = true
ij_javascript_spaces_within_array_initializer_brackets = true
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_if_brace_force = always
ij_javascript_for_brace_force = always
ij_javascript_while_brace_force = always
ij_javascript_do_while_brace_force = always
ij_javascript_array_initializer_new_line_after_left_brace = true
ij_javascript_array_initializer_right_brace_on_new_line = true

[{*.ts,*.tsx}]
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_array_initializer_brackets = true
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_if_brace_force = always
ij_typescript_for_brace_force = always
ij_typescript_while_brace_force = always
ij_typescript_do_while_brace_force = always
ij_typescript_array_initializer_new_line_after_left_brace = true
ij_typescript_array_initializer_right_brace_on_new_line = true
